In [10]:
import pandas as pd
import glob
import random
from tqdm.notebook import tqdm_notebook
pd.options.mode.chained_assignment = None  # default='warn'

# Get a list of all CSV files in a directory
csv_files = glob.glob('*.csv')

In [14]:
# Create an empty dataframe to store the combined data
combined_df = pd.DataFrame()

# Loop through each CSV file and append its contents to the combined dataframe
for csv_file in tqdm_notebook(csv_files, desc = 'Progress using tqdm_notebook()', total=len(csv_files)):
    df = pd.read_csv(csv_file, dtype = {'Datetime': str, 'Tweet Id': str, 'Text': str, 'Username': str, 'reply_count': str, 'retweet_count': str,
                                                         'like_count': str, 'quote_count': str, 'language': str, 'id_if_retweetd_tweet': str, 'id_if_quoted_tweet': str},
                    engine='python',encoding='utf-8', on_bad_lines='skip')
    newdf = df.query('language == "en"')
    newdf["name"] = csv_file
    combined_df = pd.concat([combined_df, newdf.sample(frac=0.2)])
    
# Print the combined dataframe
print(combined_df)

Progress using tqdm_notebook():   0%|          | 0/410 [00:00<?, ?it/s]

                      Datetime             Tweet Id  \
16   2019-03-06 19:35:34+00:00  1103378608717025280
8    2019-03-12 01:28:22+00:00  1105279329896812545
14   2019-03-08 03:19:30+00:00  1103857748184350721
15   2019-03-07 16:01:44+00:00  1103687181326057472
147  2015-06-24 22:03:34+00:00   613829847131930628
..                         ...                  ...
14   2014-04-09 06:33:16+00:00   453782680572657664
74   2014-04-04 17:14:41+00:00   452132160476958720
27   2014-04-09 00:34:33+00:00   453692404382449664
116  2014-03-31 00:00:41+00:00   450422391055724544
51   2014-04-07 03:33:46+00:00   453012732225146882

                                                  Text         Username  \
16   @Corven666 @ComicBook Says the guys who is gon...  BeagleTheDeagle
8    Yep, Itâ€™s oficial, Iâ€™m exited for this movie #...          Ro1Argo
14   @HellboyMovie Looking forward to April for the...        dbbamafan
15   @spojankles @perlmutations Ugliest motherf#cke...          Run_556
147  #SkyBarFilms L.A. Slasher http://t.co/Syceb01X...      SkyBarFilms
..                                                 ...              ...
14   Sci-fi movie Jinn features car designer, Fireb...     DatabaseView
74   lol @ Muslims freaking out at the movie "Jinn"...    chaplainusama
27   New post: Sci-fi movie Jinn features car desig...     GatesDigital
116  Am I the only one who thinks that the trailer ...  joetherobertson
51                   the movie #jinn was pretty okay ðŸ˜Š  thebadguy______

    reply_count retweet_count like_count quote_count language  \
16            1             0          0           0       en
8             0             0          1           0       en
14            0             0          1           0       en
15            0             0          0           0       en
147           0             0          0           0       en
..          ...           ...        ...         ...      ...
14            0             0          0           0       en
74            0             0          3           0       en
27            0             0          0           0       en
116           0             0          1           0       en
51            0             0          0           0       en

    id_if_retweetd_tweet                                 Ã­d_if_quoted_tweet  \
16                   NaN                                                NaN
8                    NaN  https://twitter.com/hellboy_news/status/110525...
14                   NaN                                                NaN
15                   NaN                                                NaN
147                  NaN                                                NaN
..                   ...                                                ...
14                   NaN                                                NaN
74                   NaN                                                NaN
27                   NaN                                                NaN
116                  NaN                                                NaN
51                   NaN                                                NaN

                           name
16      Hellboy-sem-retweet.csv
8       Hellboy-sem-retweet.csv
14      Hellboy-sem-retweet.csv
15      Hellboy-sem-retweet.csv
147  LA-Slasher-sem-retweet.csv
..                          ...
14         Jinn-sem-retweet.csv
74         Jinn-sem-retweet.csv
27         Jinn-sem-retweet.csv
116        Jinn-sem-retweet.csv
51         Jinn-sem-retweet.csv

[996555 rows x 12 columns]

In [15]:
combined_df.to_csv('sampled_tweets.csv', encoding='utf-8')